Iteration 4

In [5]:
import findspark
findspark.init('/home/ubuntu/spark-2.1.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('basics').getOrCreate()

In [40]:
# Import dataset
dataFrame = spark.read.csv('Dataset/violenceData.csv',header=True,inferSchema=True)

In [41]:
# Show the dataset
dataFrame.show()

+-----------------+--------------------+----+------+-----+-----+-------+------+------+------+-------+
|CountiresandAreas|AnyViolentDiscipline|Male|Female|Urban|Rural|Poorest|Second|Middle|Fourth|Richest|
+-----------------+--------------------+----+------+-----+-----+-------+------+------+------+-------+
|      Afghanistan|                  74|  75|    74|   78|   74|     74|    74|    75|    74|     76|
|          Albania|                  77|  81|    73|   70|   82|     86|    80|    80|    74|     60|
|          Algeria|                  86|  88|    85|   87|   86|     86|    88|    87|    87|     84|
|          Andorra|                null|null|  null| null| null|   null|  null|  null|  null|   null|
|           Angola|                null|null|  null| null| null|   null|  null|  null|  null|   null|
|AntiguaandBarbuda|                null|null|  null| null| null|   null|  null|  null|  null|   null|
|        Argentina|                  72|  74|    71| null| null|     76|    74|    75|    70|     67|
|          Armenia|                  69|  71|    67|   68|   71|     73|    69|    69|    65|     68|
|        Australia|                null|null|  null| null| null|   null|  null|  null|  null|   null|
|          Austria|                null|null|  null| null| null|   null|  null|  null|  null|   null|
|       Azerbaijan|                  77|  80|    74|   76|   78|     81|    76|    76|    75|     74|
|          Bahamas|                null|null|  null| null| null|   null|  null|  null|  null|   null|
|          Bahrain|                null|null|  null| null| null|   null|  null|  null|  null|   null|
|       Bangladesh|                  82|  83|    82|   77|   84|     87|    85|    83|    81|     73|
|         Barbados|                  75|  78|    72|   77|   72|     80|    71|    78|    75|     72|
|          Belarus|                  65|  67|    62|   66|   62|     64|    67|    62|    65|     65|
|          Belgium|                null|null|  null| null| null|   null|  null|  null|  null|   null|
|           Belize|                  65|  67|    63|   68|   64|     72|    69|    61|    61|     59|
|            Benin|                  91|  92|    90|   92|   90|     90|    91|    90|    94|     91|
|           Bhutan|                null|null|  null| null| null|   null|  null|  null|  null|   null|
+-----------------+--------------------+----+------+-----+-----+-------+------+------+------+-------+
only showing top 20 rows

In [10]:
# Show orginal columns before cleaning
print("Total data columns:", dataFrame.count())

Total data columns: 197

In [46]:
# drop empty rows
droppedTable = dataFrame.na.drop()
droppedTable.show()
droppedTable.count()

+--------------------+--------------------+----+------+-----+-----+-------+------+------+------+-------+
|   CountiresandAreas|AnyViolentDiscipline|Male|Female|Urban|Rural|Poorest|Second|Middle|Fourth|Richest|
+--------------------+--------------------+----+------+-----+-----+-------+------+------+------+-------+
|         Afghanistan|                  74|  75|    74|   78|   74|     74|    74|    75|    74|     76|
|             Albania|                  77|  81|    73|   70|   82|     86|    80|    80|    74|     60|
|             Algeria|                  86|  88|    85|   87|   86|     86|    88|    87|    87|     84|
|             Armenia|                  69|  71|    67|   68|   71|     73|    69|    69|    65|     68|
|          Azerbaijan|                  77|  80|    74|   76|   78|     81|    76|    76|    75|     74|
|          Bangladesh|                  82|  83|    82|   77|   84|     87|    85|    83|    81|     73|
|            Barbados|                  75|  78|    72|   77|   72|     80|    71|    78|    75|     72|
|             Belarus|                  65|  67|    62|   66|   62|     64|    67|    62|    65|     65|
|              Belize|                  65|  67|    63|   68|   64|     72|    69|    61|    61|     59|
|               Benin|                  91|  92|    90|   92|   90|     90|    91|    90|    94|     91|
|BosniaandHerzegovina|                  55|  60|    50|   54|   56|     59|    54|    54|    59|     51|
|         BurkinaFaso|                  83|  84|    82|   86|   82|     81|    83|    82|    82|     86|
|            Cameroon|                  85|  85|    85|   87|   84|     80|    86|    87|    88|     87|
|CentralAfricanRep...|                  92|  92|    92|   92|   92|     92|    94|    91|    91|     92|
|                Chad|                  71|  72|    71|   72|   71|     70|    72|    72|    70|     71|
|           CostaRica|                  46|  52|    39|   47|   45|     47|    47|    44|    53|     35|
|          IvoryCoast|                  91|  91|    91|   92|   90|     91|    91|    91|    92|     89|
|DemocraticRepubli...|                  82|  82|    81|   83|   81|     79|    79|    84|    81|     85|
|   DominicanRepublic|                  63|  64|    61|   63|   64|     61|    63|    63|    65|     62|
|               Egypt|                  93|  93|    93|   92|   93|     93|    94|    94|    94|     91|
+--------------------+--------------------+----+------+-----+-----+-------+------+------+------+-------+
only showing top 20 rows

64

In [ ]:
#